:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.MuiPaper-root {
    padding: 2rem;
    justify-content: center;
}
.divider {
    margin: 0 2rem;
    width: 1px;
    height: 1rem;
    background-color: #000;
}
header {
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5rem;
    text-align: center;
}
footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}